fastapi==0.115.12
uvicorn==0.34.0
httpx==0.28.1
requests==2.32.3
python-dotenv==1.0.1
python-multipart
langchain-core
langchain-community
langchain-ollama
langchain-postgres
langgraph
langgraph-supervisor
yfinance
numpy
pydantic
lxml
pandas
scikit-learn
joblib
ta
openpyxl